! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color8:       #282a2e
*.color0:       #373b41

! red
*.color9:       #a54242
*.color1:       #cc6666

! green
*.color10:       #8c9440
*.color2:      #b5bd68

! yellow
*.color11:       #de935f
*.color3:      #f0c674

! blue
*.color12:       #5f819d
*.color4:      #81a2be

! magenta
*.color13:       #85678f
*.color5:      #b294bb

! cyan
*.color14:       #5e8d87
*.color6:      #8abeb7

! white
*.color15:       #707880
*.color7:      #c5c8c6


!!! URxvt CONFIG
! remove scrollbar
URxvt.scrollBar: false

! set font
URxvt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Book:size=11,xft:Inconsolata\ for\ Powerline:size=11
