!! Colorscheme: Flat-UI from WSLtty
! special
*foreground:	#ecf0f1
*background:	#181818
*cursorColor:	#00ff00
*cursorfg:	#00ff00
*reverse-cursor:	#d35400
! black
*color0:	#34495e
*color8:	#2c3e50
! red
*color1:	#e74c3c
*color9:	#c0392b
! green
*color2:	#2ecc71
*color10:	#27ae60
! yellow
*color3:	#f1c40f
*color11:	#f39c12
! blue
*color4:	#3498db
*color12:	#2980b9
! magenta
*color5:	#9b59b6
*color13:	#8e44ad
! cyan
*color6:	#1abc9c
*color14:	#7aa085
! white
*color7:	#ecf0f1
*color15:	#bdc3c7

st.font: DejaVu Sans Mono:style=Book:pixelsize=12:antialias=true:autohint=true;
st.bold_font: 1
st.cursorblinkstyle: 1
st.blinktimeout: 500
st.cursorblinkontype: 0
st.cursorshape: 2
st.borderpx: 1
st.cwscale: 1.00
st.chscale: 1.00
st.opacity: 200

!! URxvt Config
! set font
URxvt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:style=Book:size=9,xft:Material\ Icons:size=8:minspace=Dalse,xft:Inconsolata\ for\ Powerline:size=11, xft:Font\ Awesome:size=8
! remove scrollbar
URxvt.scrollBar: false
! set cursor color to green
URxvt.cursorColor: green
! resize font using keyboard
URxvt.perl-ext-common: resize-font
URxvt.resize-font.step: 5
! (Up) font size
URxvt.resize-font.bigger: C-Up
! (Down) font size
URxvt.resize-font.smaller: C-Down
! (Right) reset font size
URxvt.resize-font.reset: C-Right
